html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center;	
}

/* Website Title */
.container{
	color: #000000;
    padding: 20px;
	display: block;
	text-align: center;
}

.container-heading{
    margin: 0;
}

.heading_first{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.heading_second{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
}


/* Form */
.form-input{
	background-color: #E9E9E9;
	width: 370px;
	height: 30px;
	border-radius: 3px;
	border: 0;
	display: inline-block;
	text-align: center;
	-webkit-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	margin-bottom: 15px;
}

.align-center{
	padding: 0 30px;
}

/* Result */
.results{
  display: inline-block;
  width: auto;
  height: 429px;
  line-height: 400px;
}


/* Gradient */
@-webkit-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}
@keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
}